.update_screen{
    width:70%;
    margin: 10px 15%;

    .rows{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        .val_multiple{
            border:1px solid black;
            background: lightgray;
            padding: 20px;
        }
    }
    .rows_right{
        display: flex;
        flex-direction: row-reverse;
    }
}